.kanban-board {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.column {
  width: 30%;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

.task-list {
  padding: 10px;
  min-height: 100px;
  background-color: #fff;
  border-radius: 5px;
}

.task {
  background-color: #e2e4e6;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 3px;
}